
h1 { 
  font-size: 3rem; 
  background: #0e2130;
  padding: 4rem; 
  margin: 0rem; 
  color: #c59ca0;
}

h2 { 
  font-size: 2rem;
  margin: 2rem;
  color: #2d455d;
}

h1, h2 {
  
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}